* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/*========================= Common =========================*/
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 12px;
    background: var(--primary-color);
    padding: 18px 20px;
    min-width: 98px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 2);
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*========================= Header =========================*/
.header-navbar {
    background-color: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 999;
}

.header-hero {
    position: relative;
    height: calc(100vh - 90px);
    background-color: #e6f0ff;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar .logo {
    margin-right: 49px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 15px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
    position: relative;
    z-index: 1;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px;
}

.navbar .action-btn {
    padding: 13px 25px;
    margin-left: 10px;
    border-radius: 8px;
}

.header-hero .hero {
    padding-top: 118px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.18px;
}

.hero .title {
    color: #000336;
    margin-top: 8px;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.1875;
}

.hero .desc {
    color: #5a6473;
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero img {
    position: absolute;
    bottom: 0;
    right: calc((100% - 1110px) / 2 - 100px);
    z-index: 0;
}

/*========================= Clients =========================*/
.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .row-desc {
    margin-top: 23px;
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}

.clients .images {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients .images a {
    height: 91px;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

/*========================= Guides =========================*/

.guides {
    margin-top: 40px;
    text-align: center;
    padding: 79px 0;
}

.guides-title {
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
}

.guides-title::before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -10px;
    width: 41px;
    height: 4px;

    background: #000339;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guide-item {
    margin: 0 70px;
}

.guide-item .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
}

.guide-desc {
    margin-top: 10px;
    display: inline-block;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guides .btn {
    margin-top: 50px;
}

/*========================= Featured =========================*/
.featured {
    margin-top: 41px;
    background-color: #f5fafe;
    padding: 110px 0;
}

.feature-heading {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.featured .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    margin-top: 15px;
}

.feature-cta {
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.feature-cta img {
    margin-left: 8px;
}

.feature-list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.feature-item {
    flex: 1;
    border-radius: 12px;
}

.feature-item .thumb {
    width: 100%;
    object-fit: cover;
    height: 227px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.feature-info {
    padding: 17px 20px 22px 20px;
    background-color: #fff;
}

.feature-info .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

.feature-info .desc {
    --line-clamp: 3;

    margin-top: 11px;
    color: #a3a6ab;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    word-break: break-all;
}

.feature-info .info {
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.14px;
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.feature-info img {
    margin-right: 8px;
    margin-left: 23px;
}

.feature-info img:first-child {
    margin-left: 0;
}

/*========================= Stats =========================*/
.stats {
    margin-top: 75px;
    padding: 50px 192px 50px 140px;
}

.stats .row {
    display: flex;
}

.stats .block-img {
    width: 51%;
    position: relative;
}

.block-img .block-trend {
    position: absolute;
    width: 239px;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px;
}

.block-trend .qnt {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.26px;
    margin-right: auto;
}

.block-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.block-trend .separate {
    margin-top: 25.5px;
    width: 193.62px;
    height: 1.2px;
    background: #e9e9e9;
}

.block-trend .avatar-block {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
}

.block-trend .avatar-group {
    display: flex;
}

.avatar-group .avatar {
    display: block;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}

.avatar-group .avatar:first-child {
    margin-left: 0;
}

.stats .block-img .image {
    display: block;
    width: 400px;
    height: 460px;
    object-fit: cover;
    margin-left: auto;
}

.stats .block-content {
    margin-top: 65px;
    margin-left: 165px;
}

.stats .block-content .title {
    width: 269px;
    color: #000339;
    font-family: Poppins;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.286;
}

.stats .block-content .desc {
    margin-top: 20px;
    width: 309px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.stats-row {
    margin-top: 110px;
    padding-left: 32px;
    justify-content: space-between;
}

.stats-info .qnt {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats-info .qnt-desc {
    margin-top: 20px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
}

/*========================= Subcription =========================*/
.subcription {
    margin-top: 51px;
    height: 409px;
}

.subcription .body {
    position: relative;
    height: calc(409px - 48px);
    top: 48px;
    border-radius: 20px;
    background: #063183;
    display: flex;
    align-items: center;
}

.subcription .info {
    padding: 0 80px;
}

.subcription .info .heading {
    width: 510px;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.subcription .info .desc {
    width: 510px;
    margin-top: 10px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    opacity: 0.75;
}

.subcription .info .btn {
    margin-top: 20px;
    background-color: #fff;
    min-width: 151px;
    color: #002366;
    font-size: 1.3rem;
    font-weight: 500;
}

.subcription .body .image {
    position: absolute;
    bottom: 0;
    left: 670px;
}

/*========================= Footer =========================*/
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
    gap: 185px;
}

.footer .column .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .column .list {
    margin-top: 42px;
}

.footer .column .item {
    margin-top: 18px;
    white-space: nowrap;
}

.footer .column a,
.footer .slogan {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer .slogan {
    line-height: 1.5;
    margin-top: 38px;
}

.footer .social {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.footer .social a {
    border-radius: 8px;
}

.footer .row-bottom {
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
